a:hover {
    color:#006DA7;
}

#navigation a:hover {
    color:#006DA7;
}

.post h2 {
    color:#006DA7;
}

.post h2 a {
    color:#006DA7;
}

#content h3,h4 {
    color:#006DA7;
}

.tags a:hover {
    background-color:#006DA7;
}

#sidebar h2 {
    color:#006DA7;
}

#commentform #submit:hover {
    background-color:#006DA7;
}