body {
	margin: 0 auto;
	width: 900px;
	padding: 0;
	font-family: 'myriad pro', helvetica, arial;
	font-weight: normal;
	color: #000;
	background-color: #fff; 
}

a {
    text-decoration: none;
    color:#999;
    outline: none;
}

/* Header */

#header {
    text-align:left;
    margin:25px;
}

#header h1 {
    font-size: 3em;
}

#header span {
    font-size: 2em;
}


/* Navigation */

#navigation {
    border-top:1px dashed #ccc;
    border-bottom:1px dashed #ccc;
    padding: 10px;
    font-size: 1.1em;
}
#navigation li {
    display:inline;
    padding:10px;
}
#navigation a {
    text-decoration: none;
    color:#999;
}

/* Main */

#main {
    float:left;
    width:580px;
    border-right:1px dashed #ccc;
}

/* Posting */

.post h2 {
    font-size:1.75em;
    margin-bottom:20px;
}

#main hr {
    border:0;
    border-top:1px dashed #ccc;
    width:150px;
    color:#fff;
    float:right;
}

.post {
    padding:20px 20px 5px 20px;
    clear:both;
}

.post h2 a:hover {
    color:#ccc;
}
.post p {
    text-align:justify;
    margin-bottom:1em;
}

#page-selector {
    font-size:0.75em;
    margin:20px 0 -15px;
    text-align:center;
}

.current-page {
    font-weight:bold;
}

.post small.meta {
    display:block;
    margin-bottom:15px;
    text-align:right;
    font-weight:bold;
    float:right;
}
.post ul.tags {
    display:block;
    margin:0 0 15px 0;
    font-size:0.75em;
}
.post ul {
    list-style-type:square;
    line-height:1.5em;
    margin:0 0 1.5em 50px;
}
.post ul li {
    margin-bottom:0.5em;
}
.post img.right {
    float:right;
    margin:0 0 10px 10px;
}
.post img.left {
    float:left;
    margin:0 10px 10px 0;
}

#main h3 {
    font-size:1.25em;
    margin-bottom:10px;
}

#main h4 {
    font-size:1.1em;
    margin-bottom:10px;
}

#comments {
    padding:10px 0 5px 20px;
    clear:both;
    font-size:0.9em;
    line-height:1.2em;
}

.tags li {
    display:inline;     
}
.tags a {
    padding:2px;
}
.tags a:hover {
    color:#fff;
    padding:2px;
}

.post a.more {
    display:block;    
    text-align:right;  
}

.post a.commentlink {
    display:block;
    font-size:0.75em;
    
    text-align:right;
    margin-bottom: 3px; 
}
.post p {
    line-height:1.5em;
}

.commentlist {
    margin-bottom:20px;
}

.commentlist li {
    margin-bottom: 20px;
}

.commentlist li small {
    display:block;
    margin-bottom:5px;
}

#sidebar {
    margin-left:580px;
    padding:20px;
    font-size:0.8em;
    line-height:1.5em;
    border-left:1px dashed #ccc;
}

#sidebar:after {
    content:"clear";
    clear:left;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}

#sidebar div {
    margin-bottom:35px; 
}

#sidebar div li{
    line-height:1.5em;
    border-bottom:1px dashed #ccc;
    padding:5px;
}

#sidebar div li small {
    display:block;
}
#sidebar div p {
    margin:5px;
}

li.delicious-post {
    list-style-position:inside;
    list-style-image:url(../images/bookmark-bullet.png);
}

#sidebar h2 {
    font-size:1.5em;
    margin-bottom:10px;
}

#commentform #comment_content {
    width: 355px;
    border:1px dotted #ccc;
    font-family: 'myriad pro', helvetica, arial;
    line-height:1.5em;
    font-size:1em;
    padding:5px;
    margin:5px 0 5px 0;
}


#commentform input {
    padding:5px;
    border:1px dotted #ccc;
    font-size:1em;
    line-height:1.5em;
    margin:5px 20px 5px 0;
	width:355px;
	display:block;
	float:right;
}

#commentform label {
	display:block;
	float:left;
	width:170px;
	margin:14px 2px 5px 0;
}

#commentform #cf_submit input {
    background-color:#fff;
    padding:5px 10px;
	width:367px;
}

#commentform #cf_submit input:hover {
    color:#fff;
}
/* Footer */

#footer {
    border-top:1px dashed #ccc;
    clear:both;
    padding:20px;
    text-align:center;
    font-size:0.75em;
}

.hidden {
	display: none
}

.gravatar {
	float:left;
	margin: 0 10px 0 0;
}

.comment-meta {
	margin-bottom:10px;
}
